/* Estilos para la tabla */
.table {
  border: 1px solid rgb(195, 193, 193) !important;
  width: 100%;
  border-radius: 9px;
}
.table-container {
  padding: 0 7%;
}
/* Estilos para los encabezados de las columnas */
.ant-table-thead > tr th {
  text-align: start !important;
  background-color: #d3d1d1 !important;
}

/* Estilos para las celdas de la tabla */
.ant-table-tbody > tr > td {
  text-align: start !important;
}

/* Ajustes para las últimas tres columnas */
.first-three-columns {
  width: 10%; /* Ancho de las primeras tres columnas */
}

/* Ajustes para las últimas dos columnas */
/* Ajustes para las últimas dos columnas */
.column-status,
.column-action {
  width: 0%; /* Ancho relativo para las últimas dos columnas */
}
.column-action {
  padding: 0% !important;
}
/* Estilos para el encabezado de la columna de acción */
.column-action > div {
  padding: 0px 9%;
}

/* Estilos para los botones de acción */
.action-buttons {
  white-space: nowrap; /* Evita que los botones se envuelvan */
}

.action-buttons button {
  display: inline-block; /* Muestra los botones en línea */
  margin-right: -10% !important;
}

/* Estilos para los botones de acción */
.action-buttons button {
  display: inline-block; /* Muestra los botones en línea */
}
/* Modal */
/* Agrega estas reglas CSS en tu archivo de estilos style.css */
.ant-modal {
  max-width: 1000px !important; /* Establece el ancho máximo del modal */
  width: 43% !important; /* Ajusta el ancho del modal según tus necesidades */
}

@media screen and (max-width: 768px) {
  .ant-modal {
    width: 95%; /* Ajusta el ancho del modal para pantallas más pequeñas */
  }
}

/* Estilos para centrar el modal */
.ant-modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-content {
  max-height: 80vh; /* Establece la altura máxima del contenido del modal */
}
.ant-modal-title {
  margin-top: -10px !important; /* Ajusta este valor según sea necesario */
}
.container-filtros {
  display: flex;
  justify-content: space-between;
}
