.create-user-form {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas adicionales */
  width: 100%;
  justify-content: space-between;
}

.form-column {
  width: 50%; /* Ancho de cada columna */
  margin-top: 30px;
  display: flex; /* Make the form columns into flex containers */
  flex-direction: column; /* Stack labels and inputs vertically */
}

.form-input {
  width: 90%;
  margin-bottom: 40px; /* Espaciado inferior entre elementos */
}

.form-button {
  align-self: flex-end;
  margin-right: 8% !important;
}

.form-label {
  margin-bottom: 0.7rem; /* Add space between label and input */
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .form-button {
    width: 70% !important; /* Ancho del botón en dispositivos medianos y grandes */
  }
}
.invalid {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .form-button {
    width: 70% !important; /* Ancho del botón en dispositivos medianos y grandes */
  }
}
